CompletionPortSer/Debug/
CompletionPortSer/CompletionPortSer/Debug/
CompletionPortSer/CompletionPortSer/*.user
Complex_completionPort/Debug/
Complex_completionPort/Complex_completionPort/Debug/
Complex_completionPort/Complex_completionPort/*.user
httpClient/Debug/
httpClient/httpClient/Debug/
httpClient/httpClient/*.user
zlib_test/Debug/
zlib_test/zlib_test/Debug/
zlib_test/zlib_test/*.user
chrome/Debug/
chrome/chrome/Debug/
chrome/chrome/*.user
Test/
dllTest/Debug/
*.suo
*.ncb